@charset "UTF-8";
/*********************************
	メインビジュアル
*********************************/
.new_mv {
  background-color: #F2EBE9;
  position: relative;
}
.new_mv img.flt_img {
  width: 43.22%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .new_mv img.flt_img {
    width: 84.61%;
    position: relative;
    margin-bottom: 30px;
  }
}
.new_mv img.flt_right {
  left: auto;
  right: 0;
}
@media screen and (max-width: 768px) {
  .new_mv img.flt_right {
    right: auto;
    left: 0;
    margin-left: auto;
  }
}

.nail_eye_mv {
  background-color: #E2F1F4;
}

#recruit_mv {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  #recruit_mv {
    height: auto;
  }
}
#recruit_mv .mv_wrap {
  margin-left: 6.77%;
  width: 93.23%;
  height: 100%;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap {
    margin-left: 0;
    width: 100%;
    padding-bottom: 50px;
  }
}
#recruit_mv .mv_wrap .flex {
  height: 100%;
}
#recruit_mv .mv_wrap .mv_text_wrap {
  position: relative;
  width: 43.75%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .mv_text_wrap {
    order: 2;
    width: 79.48%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}
#recruit_mv .mv_wrap .mv_text_wrap .mv_text {
  margin-top: 30rem;
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .mv_text_wrap .mv_text {
    margin-top: 0;
  }
}
#recruit_mv .mv_wrap .mv_text_wrap .mv_text p {
  font-size: 18px;
  letter-spacing: 0.2em;
}
#recruit_mv .mv_wrap .mv_text_wrap .mv_text img {
  padding-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .mv_text_wrap .mv_text h1 img {
    width: 160px;
    margin-top: -100px;
    margin-bottom: 50px;
  }
}
#recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text {
  margin-top: 70px;
}
@media screen and (min-width: 1600px) {
  #recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text {
    margin-top: 0;
  }
}
#recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text div {
  margin-bottom: 50px;
}
@media screen and (min-width: 1600px) {
  #recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text div {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text div {
    margin-bottom: 20px;
  }
}
#recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text div span {
  display: block;
  font-size: clamp(12px, 1.4rem, 16px);
}
#recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text div strong {
  display: block;
  letter-spacing: 0.15em;
  color: #333;
  font-size: clamp(20px, 2.5rem, 30px);
  margin-top: 1rem;
}
#recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text p {
  font-size: clamp(14px, 1.6rem, 18px);
  line-height: 1.8em;
  margin-bottom: 5.4rem;
  width: 490px;
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .mv_text_wrap .recruit_mv_text p {
    width: 100%;
  }
}
#recruit_mv .mv_wrap .mv_img_wrap {
  width: 56.25%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .mv_img_wrap {
    width: 79.48%;
    order: 1;
    margin-left: auto;
    height: 400px;
  }
}
#recruit_mv .mv_wrap .new_mv_img {
  background-image: url(../../images/recruit/hair_new_mv.jpg);
}
#recruit_mv .mv_wrap .hair_chuto_mv_img {
  background-image: url(../../images/recruit/hair_chuto_mv_img.jpg);
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .hair_chuto_mv_img {
    margin-left: 0;
  }
}
#recruit_mv .mv_wrap .nail_chuto_mv_img {
  background-image: url(../../images/recruit/chuto-nail/eye_chuto_mv_img.jpg);
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .nail_chuto_mv_img {
    margin-left: 0;
  }
}
#recruit_mv .mv_wrap .eye_chuto_mv_img {
  background-image: url(../../images/recruit/eye_chuto_mv_img.jpg);
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_wrap .eye_chuto_mv_img {
    margin-left: 0;
  }
}
#recruit_mv .mv_nail_eye_wrap {
  margin-left: 0;
}
#recruit_mv .mv_nail_eye_wrap .mv_text_wrap {
  margin-left: 6.77%;
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_nail_eye_wrap .mv_text_wrap {
    margin-top: 20px;
  }
}
#recruit_mv .mv_nail_eye_wrap .mv_text_wrap .mv_text h1 {
  text-align: right;
}
#recruit_mv .mv_nail_eye_wrap .mv_text_wrap .mv_text h1 img {
  top: -320px;
  left: 20px;
}
@media screen and (max-width: 768px) {
  #recruit_mv .mv_nail_eye_wrap .mv_text_wrap .mv_text h1 img {
    right: 0px;
    left: auto;
    position: absolute;
  }
}

/*********************************
	section
*********************************/
#recruit_content {
  padding-top: 15rem;
}
@media screen and (max-width: 768px) {
  #recruit_content {
    padding-top: 50px;
  }
}
#recruit_content h1.ttl {
  border-bottom: 1px solid #000;
  text-align: center;
  padding-bottom: 5rem;
}
#recruit_content h1.ttl strong {
  font-size: clamp(30px, 4.5rem, 70px);
  letter-spacing: 0.03em;
  color: #333;
  font-weight: normal;
  display: block;
}
@media screen and (max-width: 768px) {
  #recruit_content h1.ttl strong {
    font-size: 26px;
  }
}
#recruit_content h1.ttl span {
  font-size: 14px;
  display: block;
}
@media screen and (max-width: 768px) {
  #recruit_content h1.ttl span {
    font-size: 11px;
  }
}
#recruit_content .can_do .can_do_container {
  width: 89%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 11rem;
}
@media screen and (max-width: 768px) {
  #recruit_content .can_do .can_do_container {
    width: 89.74%;
    margin-left: auto;
    margin-right: auto;
  }
}
#recruit_content .can_do .can_do_container .content_ttl {
  width: 32.55%;
}
@media screen and (max-width: 768px) {
  #recruit_content .can_do .can_do_container .content_ttl {
    width: 100%;
  }
}
#recruit_content .can_do .can_do_container .content_ttl span {
  font-size: clamp(20px, 3rem, 40px);
  display: block;
  margin-bottom: 5rem;
}
#recruit_content .can_do .can_do_container .content_ttl h2 {
  font-size: clamp(14px, 1.6rem, 20px);
  position: relative;
  font-weight: normal;
}
#recruit_content .can_do .can_do_container .content_ttl h2::after {
  content: "";
  height: 3px;
  width: 25%;
  background-color: #333333;
  position: absolute;
  left: 0;
  bottom: -20px;
}
#recruit_content .can_do .can_do_container .point_list {
  width: 67.46%;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  #recruit_content .can_do .can_do_container .point_list {
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  #recruit_content .can_do .can_do_container .point_list .slick-list {
    width: 88%;
    margin: auto;
    padding-top: 30px;
  }
  #recruit_content .can_do .can_do_container .point_list .slick-prev {
    background-image: url(../../images/recruit/prev_arrow.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    left: 1%;
    z-index: 50;
  }
  #recruit_content .can_do .can_do_container .point_list .slick-prev::before {
    display: none;
  }
  #recruit_content .can_do .can_do_container .point_list .slick-next {
    background-image: url(../../images/recruit/next_arrow.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    right: 1%;
    z-index: 50;
  }
  #recruit_content .can_do .can_do_container .point_list .slick-next::before {
    display: none;
  }
  #recruit_content .can_do .can_do_container .point_list .slick-dots {
    z-index: 50;
  }
  #recruit_content .can_do .can_do_container .point_list .slick-dots li button:before {
    font-size: 6px; /* ドットのサイズ */
    color: transparent; /* 内側の色を透明に */
    border: 2px solid #707070; /* 黒い線で円を描く */
    border-radius: 50%; /* 円形にする */
    content: ""; /* 標準のドット記号をクリア */
    width: 10px; /* 幅 */
    height: 10px; /* 高さ */
    display: inline-block; /* ブロックとして表示 */
    vertical-align: middle; /* 垂直方向の中央に配置 */
  }
  #recruit_content .can_do .can_do_container .point_list .slick-dots li.slick-active button:before {
    background-color: #707070;
  }
}
#recruit_content .can_do .can_do_container .point_list .point {
  width: 30.35%;
  background-color: #F2EBE9;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  padding: 0 3rem 8rem 2rem;
  min-height: 340px;
  margin-bottom: 9rem;
}
@media screen and (max-width: 768px) {
  #recruit_content .can_do .can_do_container .point_list .point {
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px 40px 20px;
    min-height: 300px;
  }
}
#recruit_content .can_do .can_do_container .point_list .point .point_num {
  text-align: center;
  font-size: clamp(30px, 4rem, 50px);
  position: absolute;
  top: -27px;
  display: block;
  line-height: 1;
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#recruit_content .can_do .can_do_container .point_list .point .point_num small {
  display: block;
  line-height: 1;
  font-size: clamp(12px, 1.4rem, 16px);
}
#recruit_content .can_do .can_do_container .point_list .point em {
  display: block;
  text-align: center;
  font-size: clamp(20px, 2.5rem, 30px);
  font-style: normal;
  position: absolute;
  top: 25%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  #recruit_content .can_do .can_do_container .point_list .point em {
    position: relative;
    transform: translate(0%, 0%);
    left: 0;
    right: 0;
    top: 0;
    margin-top: 46px;
  }
}
#recruit_content .can_do .can_do_container .point_list .point p {
  font-size: clamp(14px, 1.6rem, 18px);
  letter-spacing: 0.05em;
  line-height: 1.7em;
  margin-top: 20rem;
}
#recruit_content .can_do_blue .can_do_container .point_list .point {
  background-color: #E2F1F4;
}

/*********************************
	environment
*********************************/
#environment {
  position: relative;
  padding-bottom: 13rem;
}
#environment::before {
  content: "";
  width: 26%;
  height: 86%;
  left: 0;
  top: 14%;
  background-image: url(../../images/recruit/environment_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
}
@media screen and (max-width: 768px) {
  #environment::before {
    width: 80%;
    height: 79%;
    top: 6%;
  }
}
#environment .environment_container {
  width: 89%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 6rem;
  position: relative;
}
#environment .environment_container .content_ttl {
  width: 32.55%;
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_ttl {
    width: 100%;
    margin-bottom: 40px;
    margin-left: 10%;
  }
}
#environment .environment_container .content_ttl span {
  font-size: clamp(20px, 3rem, 40px);
  display: block;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_ttl span {
    font-size: 22px;
  }
}
#environment .environment_container .content_ttl h2 {
  font-size: clamp(14px, 1.6rem, 20px);
  position: relative;
  font-weight: normal;
}
#environment .environment_container .content_ttl h2::after {
  content: "";
  height: 3px;
  width: 25%;
  background-color: #333333;
  position: absolute;
  left: 0;
  bottom: -20px;
}
#environment .environment_container .content_wrap {
  width: 87.349%;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_wrap {
    width: 79.48%;
    margin-right: auto;
  }
}
#environment .environment_container .content_wrap .content {
  align-items: flex-end;
  margin-bottom: 12rem;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_wrap .content {
    margin-bottom: 30px;
  }
}
#environment .environment_container .content_wrap .content .content_text {
  width: 340px;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_wrap .content .content_text {
    order: 2;
    width: 100%;
    margin-top: 20px;
  }
}
#environment .environment_container .content_wrap .content .content_text div {
  margin-bottom: 3rem;
}
#environment .environment_container .content_wrap .content .content_text div small {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}
#environment .environment_container .content_wrap .content .content_text div span {
  font-size: clamp(20px, 2.5rem, 30px);
  letter-spacing: 0.2em;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_wrap .content .content_text div span {
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
  }
}
#environment .environment_container .content_wrap .content .content_text p {
  font-size: clamp(14px, 1.6rem, 18px);
  line-height: 1.7em;
}
#environment .environment_container .content_wrap .content .content_text ul {
  flex-wrap: wrap;
}
#environment .environment_container .content_wrap .content .content_text ul li {
  width: 32%;
  text-align: center;
  border: 1px solid #333;
  padding: 2px 0;
  border-radius: 5px;
  margin-bottom: 2%;
  font-size: 14px;
}
#environment .environment_container .content_wrap .content .content_img {
  width: 66.2%;
  position: relative;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_wrap .content .content_img {
    order: 1;
    width: 100%;
  }
}
#environment .environment_container .content_wrap .content .content_img img {
  width: 95%;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_wrap .content .content_img img {
    width: 100%;
  }
}
#environment .environment_container .content_wrap .content .content_img iframe {
  width: 95%;
  height: 27vw;
}
@media screen and (max-width: 768px) {
  #environment .environment_container .content_wrap .content .content_img iframe {
    width: 100%;
    height: 200px;
  }
}
#environment .environment_container .content_wrap .content .content_img p {
  position: absolute;
  top: 0;
  right: 0;
  writing-mode: vertical-rl;
  font-size: 12px;
}
#environment .environment_container .environment_wrap {
  flex-wrap: wrap;
}

.environment_blue::before {
  content: "";
  width: 26%;
  height: 86%;
  left: 0;
  top: 14%;
  background-image: url(../../images/recruit/environment_blue_bg.jpg) !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
}

/*********************************
	thought
*********************************/
#thought {
  position: relative;
  padding-bottom: 31rem;
}
#thought img {
  width: 52.0833%;
  float: left;
  position: absolute;
}
@media screen and (max-width: 768px) {
  #thought img {
    width: 100%;
    float: none;
    position: relative;
  }
}
#thought .content_ttl {
  width: 32.55%;
  margin-bottom: 4rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  #thought .content_ttl {
    width: 50%;
    padding-left: 10.25%;
    padding-top: 10px;
    background-color: #fff;
    margin-top: -80px;
    margin-bottom: 50px;
  }
}
#thought .content_ttl span {
  font-size: clamp(20px, 3rem, 40px);
  display: block;
  margin-bottom: 5rem;
}
#thought .content_ttl h2 {
  font-size: clamp(14px, 1.6rem, 20px);
  position: relative;
  font-weight: normal;
}
#thought .content_ttl h2::after {
  content: "";
  height: 3px;
  width: 25%;
  background-color: #333333;
  position: absolute;
  left: 0;
  bottom: -20px;
}
@media screen and (max-width: 768px) {
  #thought .content_ttl h2::after {
    width: 80%;
  }
}
#thought .thought_container {
  width: 43.489%;
  margin-right: 6.77%;
  margin-left: auto;
  position: relative;
  padding-top: 13rem;
}
@media screen and (max-width: 768px) {
  #thought .thought_container {
    width: 100%;
    margin-right: 0;
  }
}
#thought .thought_container p {
  font-size: clamp(14px, 1.6rem, 20px);
  padding-top: 2rem;
  line-height: 1.7em;
}
@media screen and (max-width: 768px) {
  #thought .thought_container p {
    width: 79.48%;
    margin-right: auto;
    margin-left: auto;
    line-height: 2em;
  }
}
#thought .thought_container p span {
  background: linear-gradient(#fff 0%, #fff 100%);
}/*# sourceMappingURL=recruit.css.map */