#news_archive {
  padding-top: 20rem;
  padding-bottom: 22rem;
}
#news_archive .news_container {
  width: 64.58%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #news_archive .news_container {
    width: 90%;
  }
}
#news_archive .news_container ul.news_line {
  margin-top: 5rem;
}
#news_archive .news_container ul.news_line li {
  width: 80%;
  box-sizing: border-box;
  background-color: #CEEAEE;
  color: #000;
  padding: 24px 8rem;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
#news_archive .news_container ul.news_line li::after {
  content: ">";
  font-size: 14px;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0%, -50%);
}
#news_archive .news_container ul.news_line li a {
  color: #000;
  font-size: 14px;
  justify-content: flex-start;
}
#news_archive .news_container ul.news_line li a time {
  display: block;
  margin-right: 20px;
}
#news_archive h2.sec_ttl {
  text-align: left;
}
#news_archive a.more {
  font-size: clamp(14px, 1.6rem, 20px);
  color: #000;
  text-decoration: underline;
}
#news_archive a.back_btn {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-radius: 5px;
  display: block;
  font-size: clamp(16px, 1.8rem, 20px);
  margin-bottom: 5px;
  width: 260px;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.pagination_wrap {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .pagination_wrap {
    width: 100%;
  }
}

.pagination {
  display: inline-block;
  margin: 80px auto 40px auto;
  overflow: hidden;
  justify-content: flex-start;
}

.pagination.flex_start {
  width: 75px;
}

.pagination a,
.pagination span.current {
  display: block;
  flex-grow: 1;
  text-align: center;
  border-right: 1px solid #000;
  float: left;
  width: 60px;
  padding: 4.5px 0;
  color: #000;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .pagination a,
  .pagination span.current {
    width: 40px;
  }
}

.pagination a:nth-of-type(2) {
  margin-right: 0px;
}

.pagination a.current {
  color: #CEEAEE;
}

.pagination a.prev {
  display: block;
}

.pagination a.first {
  display: none;
}

.pagination a.prev {
  background-image: url(../../images/archive/page_prev.svg);
  width: 60px;
  height: 27px;
  background-size: 10px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  border-right: none;
}
@media screen and (max-width: 768px) {
  .pagination a.prev {
    width: 40px;
  }
}

.pagination a.next {
  opacity: 1;
  display: block;
  position: relative;
  background-image: url(../../images/archive/page_next.svg);
  width: 60px;
  height: 27px;
  background-size: 10px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  border-right: none;
}
@media screen and (max-width: 768px) {
  .pagination a.next {
    width: 40px;
  }
}

.page_num {
  display: none;
}

.select_sp {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  position: relative;
}
.select_sp::after {
  content: "";
  width: 10px;
  height: 6px;
  background-image: url(./../images/common/select_arrow.svg);
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25%;
}
.select_sp select {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  box-sizing: border-box;
  padding: 11px 20px;
  border-radius: 5px;
  position: relative;
}/*# sourceMappingURL=news.css.map */